apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: channelog-certs
  namespace: tir-webhooks
data:
  tls.crt: <BASE64_ENCODED_TLS_CERTIFICATE>
  tls.key: <BASE64_ENCODED_TLS_PRIVATE_KEY>
stringData:
  DEFAULT_RABBITMQ_QUEUE: tir_webhooks
  RABBITMQ_URL: amqp://<username>:<password>@<ip>:<port>/<vhost>
  MYVPN_STAGE_VPN_IP: "<ip>:<port>"
  MYVPN_STAGE_VPN_USER: "<username>"
  MYVPN_STAGE_VPN_PASSWORD: "<password>"
  MYVPN_STAGE_VPN_CERT: "<certificate_hash>"
  LOCATION: <location>
# Environment specific RABBITMQ_URL examples:
# THOR amqp://gpu:gpuuser@172.16.231.14:5672/gpu
# LOKI amqp://gpu:gpuuser@172.16.232.15:5672/gpu
# GROOT amqp://gpu:gpuuser@172.16.230.14:5672/gpu
