apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: channelog-certs
  namespace: tir-webhooks
data:
  tls.crt: <BASE64_ENCODED_TLS_CERTIFICATE>
  tls.key: <BASE64_ENCODED_TLS_PRIVATE_KEY>
stringData:
  DEFAULT_RABBITMQ_QUEUE: tir_webhooks
  MYVPN_PROD_VPN_IP: "<ip>:<port>"
  MYVPN_PROD_VPN_USER: "<username>"
  MYVPN_PROD_VPN_PASSWORD: "<password>"
  MYVPN_PROD_VPN_CERT: "<certificate_hash>"
  LOCATION: <location>